@import "tailwindcss";

@theme{
    --default-font-family: "Manrope", sans-serif;
    --color-veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --color-desaturatedDarkBlue: hsl(214, 17%, 51%);
    --color-grayishBlue: hsl(212, 23%, 69%);
    --color-LightGrayishBlue: hsl(210, 46%, 95%);
}

html{
    font-size:0.813rem;
}

.list::after {
  content: "";
  position: absolute;
  bottom: -18px;  /* Distance below the box */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #2c3e50 transparent transparent transparent; /* Change color to match bg */
}